horizonos.iso
horizonos.vdi

/debug/*
bin/*
src/tasks/bin/*
src/tasks/src/gnulib
src/tasks/src/bash
src/tasks/src/coreutils
src/tasks/src/grep
src/tasks/src/cmatrix

/root/

crosstoolchain/
hostoolchain/
mlibc/mlibc/
mlibc/bmlibc/
mlibc/headers-build/
tmp/

pci.ids

.vscode/
.VSCodeCounter/

data.txt

mlibc/.built
ncurses/*

.deps-obtained
limine
limine-protocol

linux-headers
linux-kernel-headers

.built
.downloaded
