name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.04
      options: --privileged

    steps:
    - uses: actions/checkout@v4

    - name: Install sudo
      run: apt-get update && apt-get install -y sudo

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential bison flex libgmp3-dev libmpc-dev libmpfr-dev texinfo \
          nasm xorriso mtools grub-pc-bin grub2-common wget parted util-linux dosfstools qemu-utils

    - name: Cache cross-compiler
      uses: actions/cache@v3
      id: compiler-cache
      with:
        path: i686elfgcc
        key: ${{ runner.os }}-i686elfgcc-${{ hashFiles('install-cross-compiler.sh') }}
        restore-keys: |
          ${{ runner.os }}-i686elfgcc-

    # - name: Debug cache restore
    #   run: |
    #     echo "CACHE-HIT=${{ steps.compiler-cache.outputs.cache-hit }}"
    #     ls -la i686elfgcc || true
    #     du -sh i686elfgcc || true

    - name: Install cross-compiler
      if: steps.compiler-cache.outputs.cache-hit != 'true'
      run: sh install-cross-compiler.sh

    - name: Build
      run: make all

    - name: Upload file
      uses: actions/upload-artifact@v4
      with:
        name: Disk image
        path: ./horizonos.vdi
